apiVersion: v1
kind: Service
metadata:
  name: demo-api
spec:
  type: {{ .Values.service.type }}
  selector:
    app: demo-api
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
